/* 
    Created on : 07-dic-2014, 13:22:26
    Author     : Javier
*/
body{
    font-family: 'Ubuntu', sans-serif;
    background: #c0d6fb;
}
header img{
    display: block;
    margin: 0 auto;
    width: 350px;
}
header{
    width: 100%;
    background-color: #f3f3f3;
}
#buscador{
    background-color: #343434;
    color: white;
    height: 140px;
}
#buscador form input,select{
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 4px;
}
#buscador form input[type="submit"]{
    background-color: #343434;
    border: 3px solid white;
    color: white;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#buscador form input{
    width: 100px;
}
#buscador form{
    width: 800px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 80px;
}
label{
    display: block;
    float: left;
    padding: 0 10px;
    font-family: 'Ubuntu', sans-serif;
}
#buscar{
    margin: 0 auto;
}
.clear{
    clear: both;
}
/*******************************************************************************/
.anuncio{
    position:relative;
    float:left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    margin-top: 25px;
}

.sec{
    font-weight: bold;
}
.info .infb{
    width: 190px;
    float: left;
}
.titulocasa{
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

.info{
    position:absolute;
    bottom: 0px;
    
    padding: 10px;
    width: 380px;
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
}
.foto{
    width: 400px;
    height: 265px;
    overflow: hidden;
}
.sobrefoto{
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 265px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
    text-align: center;
    line-height: 50px;
}
.anuncio:hover .sobrefoto{
    visibility: visible;
}
#tablon{
    width: 825px; margin: 0 auto; background-color: #000;
}
.anuncio:nth-child(2n){
    margin-left: 25px;
}
.foto img{ 
    width: 400px;
}