/* 
    Created on : 07-dic-2014, 13:22:26
    Author     : Javier
*/
body{
    font-family: 'Ubuntu', sans-serif;
    background: #5a98ff;
}
header img{
    display: block;
    margin: 0 auto;
    width: 350px;
}
header{
    width: 100%;
    background-color: #f3f3f3;
}
#buscador{
    background-color: #343434;
    color: white;
    height: 140px;
}
#buscador form input,select{
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 4px;
}
#buscador form input[type="submit"]{
    background-color: #343434;
    border: 3px solid white;
    color: white;
    width: 300px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
#buscador form input{
    width: 100px;
}
#buscador form{
    width: 800px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 80px;
}
label{
    display: block;
    float: left;
    padding: 0 10px;
    font-family: 'Ubuntu', sans-serif;
}
#buscar{
    margin: 0 auto;
}
.clear{
    clear: both;
}
/*******************************************************************************/
.anuncio{
    position:relative;
    float:left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    margin-top: 25px;
    overflow: hidden;
    transition: all 1s ease;
    background-color: white;
}
.anuncio a{
    color: black;
}
.sec{
    font-weight: bold;
}
.info .infb{
    width: 190px;
    float: left;
}
.titulocasa{
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.info{
    position:absolute;
    top: 230px;
    bottom: -300px;
    padding: 10px;
    width: 380px;
    background-color: rgba(255,255,255,0.7);
    z-index: 100;
    transition: bottom 1s ease;
    
}
.anuncio:hover .info{
    top: auto;
    bottom:0px;
}
.foto{
    width: 400px;
    height: 265px;
    overflow: hidden;
}
.sobrefoto{
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 265px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
    visibility: hidden;
    text-align: center;
    line-height: 50px;
}
.anuncio:hover .sobrefoto{
    visibility: visible;
    
}
#tablon{
    width: 825px; margin: 0 auto; background-color: #000;
}
.anuncio:nth-child(2n){
    margin-left: 25px;
}
.foto img{ 
    width: 400px;
}
#informacionpiso{
    width: 825px;
    margin: 0 auto;
    columns: 2;
    font-size: 20px;
}
.infopisob{
    width: 45%;
    float: left;
    margin: 15px 0;
    margin-right: 5%;
}
#galeria{
    width: 825px;
    margin: 20px auto;
}
.miniatura{
    width: 200px;
    height: 100px;
    float: left;
    overflow: hidden;
    margin-right: 5px;
    margin-top: 5px;
}
.miniatura img{
    width: 200px;
}

#error{
    background-color: #ffff66;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
#buscador h1{
    text-align: center;
    font-size: 30px;
    line-height: 140px
}
#titulolugar h1{
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    color: white;
}
#titulolugar{
    height: 60px;
    background-color: #343434;
}
.centrador{
    width: 600px;
    margin: 0 auto;
}
.centrado{
    float: none;
    display: block;
    margin: 0 auto;
    
}
.iden{
    margin-top: 30px;
    width: 48%;
    border-radius: 10px;
    background-color: #c5e2ff;
    
    margin-bottom: 30px;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
.flotante{
    float: left;
}
.iden:nth-child(2){
    margin-left: 4%;
    
}
.iden input[type="submit"]{
    width: 100%;
    padding: 10px 0;
    background-color: #68d68e;
    border: 0px;
    border-radius: 0px;
}

.iden label{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    margin: 0 auto;
}
.iden input {
    padding: 10px 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.login-1{
    background-image: url(../img/user60.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.pass-1{
    background-image: url(../img/key126.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.email-1{
    background-image: url(../img/arroba1.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
.personal-1{
    background-image: url(../img/personal18.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
/*******************************************************************************/

footer{
    height: 200px;
    margin-top: 25px;
    clear: both;
    background-color: rgb(52, 52, 52);
    padding-top: 20px;
}

#paginacion{
    width: 825px;
    margin: 0 auto;
    display: flex;
}
#paginacion a:not(.pagactual){
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #242424;
    text-decoration: none;
    font-size: 1.3em;
    margin-left: 30px;
    color: white;
background: rgb(80, 80, 80);
background: -moz-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: -webkit-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: -o-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: -ms-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: linear-gradient(180deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
}
#paginacion a:nth-child(1){
    margin-left: 0px;
}

#paginacion a:not(.pagactual):hover{
background: rgb(80, 80, 80);
background: -moz-linear-gradient(90deg, rgb(80, 80, 80) 10%, rgb(52, 52, 52) 53%);
background: -webkit-linear-gradient(90deg, rgb(80, 80, 80) 10%, rgb(52, 52, 52) 53%);
background: -o-linear-gradient(90deg, rgb(80, 80, 80) 10%, rgb(52, 52, 52) 53%);
background: -ms-linear-gradient(90deg, rgb(80, 80, 80) 10%, rgb(52, 52, 52) 53%);
background: linear-gradient(180deg, rgb(80, 80, 80) 10%, rgb(52, 52, 52) 53%);
}

.pagactual{
    background-color: #343434;
    border: 1px solid #242424;
    border-bottom: 2px solid #1766c1;
    flex: 1;
    text-align: center;
    padding: 10px;
    
    text-decoration: none;
    font-size: 1.3em;
    margin-left: 30px;
    color: white;
background: rgb(80, 80, 80);
background: -moz-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: -webkit-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: -o-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: -ms-linear-gradient(90deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
background: linear-gradient(180deg, rgb(80, 80, 80) 35%, rgb(52, 52, 52) 75%);
}


/**********************************************************************************/

#principalcliente{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
#principalcliente a{
    flex: 1;
    
    height: 100px;
    line-height: 160px;
    
    text-align: center;
    min-width: 300px;
    text-decoration: none;
    color: black;
    margin: 5px;
    background-position: center 10px;
    background-repeat: no-repeat;
    background-size: 60px;
}

.salir-1{
    background-image: url(../img/door9.png);
    background-color: #f54141;
    border: 2px solid #b92121;
}
.inicio-1{
    background-image: url(../img/house58.png);
    background-color: #ffe3f6;
    border: 2px solid #c6aebe;
}
.anuncios-1{
    background-image: url(../img/person193.png);
    background-color: #4cf25f;
    border: 2px solid #37af45;
}
.usuarios-1{
    background-image: url(../img/users6.png);
    background-color: #2e54f4;
    border: 2px solid #243da7;
}
.perfil-1{
    background-image: url(../img/businessman25.png);
    background-color: #f5f541;
    border: 2px solid #adad2f;
}

.rojillo{
    background-color: #ff9999;
}
.verdecillo{
    background-color: #99ff99;
}